@import 'bourbon/bourbon';

body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
}
.container {
    width: 100%;
}

.accordion {
    margin: 0 auto;
    width: 600px;
}

.title {
    background-color: #0AC8D7;
    color: #ffffff;
    border: 1px solid #00BBCA;
    height: 40px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 24px;
    margin: 0px;
}

a.titlebar {
    text-decoration: none;
}

.contentHide {
    margin: 0px;
    height: 0px;
    overflow: hidden;
    padding: none;
}

.contentShow {
    color: #797D81;
    font-size: 17px;
    padding: 30px;
    border: 1px solid #00BBCA;
    margin: 0px;
    transition: all 0.3s ease;
    height: auto;
}




/*
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

*/